body {
  background-image: url('https://www.youngisthan.in/userfiles/being_an_impatient_person/movie-theatre.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  font-family: 'Share Tech Mono', monospace;
}

.header {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px 20px 10px 20px;
  margin: 0 0 40px 0;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  padding: 0 5vw;
}

.movieList {
  background-color: rgba(255, 255, 255, 0.8);
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  display: inline-block;
  list-style-position: inside;
  padding: 5px 15px;
  font-size: 1.2em;
}

.recommendation {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.newMovieForm {
  padding: 5px;
}

.newMovieFormLine {
  padding: 5px;
}
